@model Harmony.Models.ShowsViewModel

<div class="row">
    <div class="col-8 offset-2 shadow p-3 mb-5 bg-white rounded" style="margin-top: 40px;">
        @if ((User.IsInRole("Musician") && Model.MusicianRated == false) || (User.IsInRole("VenueOwner") && Model.VenueRated == false))
        {
            if (User.IsInRole("Musician"))
            {
                <h3 id="form-title">Rate this experience with @Model.VenueName</h3>
            }
            else if (User.IsInRole("VenueOwner"))
            {
                <h3 id="form-title">Rate this experience with @Model.MusicianName</h3>
            }
            <hr />
            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("RateUser", "Shows", new { id = Model.ShowID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.RatingValue, "star1")
                                @Html.Label("Terrible")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.RatingValue, "star2")
                                @Html.Label("Poor")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.RatingValue, "star3")
                                @Html.Label("Okay")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.RatingValue, "star4")
                                @Html.Label("Great")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.RatingValue, "star5")
                                @Html.Label("Awesome")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>Leave a comment</p>
                                @Html.TextAreaFor(m => m.Comment)
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Rate!</button>
                        </div>
                    }
                </div>
            </div>
            
        }
        else
        {
            <h3>You've rated this experience</h3>
        }
        @Html.ActionLink("Return to shows", "MyShows")
    </div>
</div>