@model Harmony.Models.VenueOwnerDetailViewModel
@{
    ViewBag.Title = "Details";
}
@*
     <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <style>
        #video4 {
            margin: 30px 300px 0px 200px;
        }
    </style>*@

<style>
    i {
        padding-right: 8px;
    }
</style>

<!-- Social media icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container black-font" id="venueprofile">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h3><b>@Html.DisplayFor(model => model.VenueName)</b></h3>
            @{
                if (User.IsInRole("Musician"))
                {
                    <button class="btn btn-orange my-2 my-sm-0" data-toggle="modal" data-target="#event-modal">Request To Perform at This Venue!</button>
                }
            }
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Owner)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddressLine1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddressLine2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AveRating)
                </dt>
                @if (Model.AveRating != 0)
                {
                    <dd>
                        @Html.DisplayFor(model => model.AveRating) Stars - @Html.ActionLink("View Ratings", "ViewRatings", new { id = Model.ID })
                    </dd>
                }
                else
                {
                    <dd>
                        Not rated
                    </dd>
                }



                <dt>
                    @Html.DisplayNameFor(model => model.UpcomingShows)
                </dt>
                @if (Model.UpcomingShows.Count() != 0)
                {
                    <dd>
                        <table class="table">
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    DateTime
                                </th>
                            </tr>
                            @foreach (var item in Model.UpcomingShows)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDateTime)
                                    </td>
                                </tr>

                            }
                        </table>
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-5">
            <div>
                <img src="~/venue.jpg" id="venuepic" />
            </div>
        </div>
        <div class="col-md-2 offset-1">
            @if (Model.Facebook != null)
            {
                <a href="https://www.facebook.com/@Model.Facebook" style="color: black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            }
            @if (Model.Instagram != null)
            {
                <a href="https://www.instagram.com/@Model.Instagram" style="color: black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            }

            @if (Model.Twitter != null)
            {
                <a href="https://www.twitter.com/@Model.Twitter" style="color: black"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            }
        </div>
        @*<div class="row">
                <div id="map">
                    <script>
                        var map;
                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: { lat: 44.939018, lng: -123.039307 },
                                zoom: 15
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=pNKTuI946E9jhHXtQhexusvL&callback=initMap"
                            async defer></script>
                </div>

            </div>*@
        <div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="event-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="event-modal-label">Create an event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("PerformanceRequest", "Venues", new { id = Model.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDateTime, new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(m => m.StartDateTime, new { @class = "form-control", type = "datetime-local" })
                                @Html.ValidationMessageFor(m => m.StartDateTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDateTime, new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(m => m.StartDateTime, new { @class = "form-control", type = "datetime-local" })
                                @Html.ValidationMessageFor(m => m.EndDateTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShowDescription, new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.ShowDescription, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ShowDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        $('#event-modal').appendTo("body")
    </script>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/1.jpg" alt="First slide" style="max-width: 750px;">
                <div class="carousel-caption">
                    <h3>Musicains</h3>
                    <p>We Love Music!</p>
                </div>


            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/3.jpg" alt="Second slide" style="max-width: 750px;">
                <div class="carousel-caption">
                    <h3>Venues</h3>
                    <p>Thank you, Musicians!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/2.jpg" alt="Third slide" style="max-width: 750px;">
                <div class="carousel-caption">
                    <h3>Music</h3>
                    <p>Bring you Magic!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/4.jpg" alt="Forth slide" style="max-width: 750px;">
                <div class="carousel-caption">
                    <h3>Band</h3>
                    <p>Music, We only live Once!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <br />
    </div>
</div>
@*<div class="row">
        <div class="col-lg-6"></div>
        <div id="video4" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}