@model Harmony.Models.ShowsViewModel

@if(Model != null)
{
    <div class="row">
        <div class="col-8 offset-2 shadow p-3 mb-5 bg-white rounded" style="margin-top: 40px;">
            <h4>@Model.Title</h4>
            <p>Musician: @Model.MusicianName</p>
            <p>Venue: @Model.VenueName</p>
            <p>Date Booked: @Model.DateBooked</p>
            <p>Start: @Model.StartTime</p>
            <p>End: @Model.EndTime</p>
        </div>
        @Html.ActionLink("Return to shows", "MyShows", new { id = Model.VenueID })
    </div>
}