@model Harmony.Models.RegisterViewModel
@{
    ViewBag.Title = "Register"; 
}

<div class="row" style="justify-content: center;">
    <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="text-align: center">Create an Account</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @*Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewData["State"], new { @class = "form-control" })*@
                    @Html.DropDownList("State", Model.stateList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
                <div class="form-check">
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.Role, "VenueOwner", new { @class = "form-check-input", id = "VenueOwner" })
                        @Html.Label("VenueOwner", new { @class = "form-check-label", @for = "VenueOwner" })
                        <br />
                        @Html.RadioButtonFor(m => m.Role, "GeneralUser", new { @class = "form-check-input", id = "GeneralUser" })
                        @Html.Label("GeneralUser", new { @class = "form-check-label", @for = "GeneralUser" })
                        <br />
                        @Html.RadioButtonFor(m => m.Role, "Musician", new { @class = "form-check-input", id = "Musician" })
                        @Html.Label("Musician", new { @class = "form-check-label", @for = "Musician" })
                    </div>
                </div>
            </div>
            <div id="VenueInfo">
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.VenueName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.VenueType, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" , id = "AddressLine2"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueCity, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.VenueCity, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueState, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @*Html.DropDownListFor(m => m.VenueState, (IEnumerable<SelectListItem>)ViewData["State"], new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.VenueState, Model.stateList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="MusicianInfo">
                <div class="col-md-12">
                    <p><small>For the following information, Please separate each item by "," without any spacing:</small></p>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GenreName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.GenreName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <script>
                $().ready(function () {
                    $('#VenueInfo').hide();
                    $('#MusicianInfo').hide();
                })
                $('#VenueOwner').click(function () {
                    $('#VenueInfo').show();
                    $('#VenueInfo').find('.form-control').addClass('required')
                    $('#AddressLine2').removeClass('required');
                    $('#MusicianInfo').hide();
                    $('#MusicianInfo').find('.form-control').removeClass('required');
                })
                $('#GeneralUser').click(function () {
                    $('#VenueInfo').hide();
                    $('#VenueInfo').find('.form-control').removeClass('required');
                    $('#MusicianInfo').hide();
                    $('#MusicianInfo').find('.form-control').removeClass('required');
                })
                $('#Musician').click(function () {
                    $('#MusicianInfo').show();
                    $('#MusicianInfo').find('.form-control').addClass('required');
                    $('#VenueInfo').hide();
                    $('#VenueInfo').find('.form-control').removeClass('required');
                })
            </script>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" class="btn btn-primary my-2 my-sm-0" value="Register" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
