@model class_project.Models.Athlete

@{
    ViewBag.Title = "Details";
}

<<div class="jumbotron" style="background-color: cornflowerblue; color: white; margin-top: 20px;">
    <div class="container-fluid">
        <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
    </div>
</div>

 <div>
     <hr />
     <p><strong>Coach: </strong> @Html.DisplayFor(model => model.Coach.CoachName)</p>
     <p><strong>Team: </strong> @Html.DisplayFor(model => model.Team.TeamName)</p>

 </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>
